<%- include ("../partials/header.ejs")%>
<div id = "showpage">
  <div class="container">
    <div class=" row p-4 pb-2 ">
      <% cart.items.forEach(cartItem=>{%>
        
          <div class="  col-lg-8 col-xs-12 col-sm-12">
            <div class="card" >
              <img src=" <%= cartItem.image %>" class="card-img-top" alt="...">
              <div class="card-body">
      
                <p class="card-text"> <a href="/meatro/<%= cartItem.productId.id %>"> Product Name </a>
  
                      <% if(currentUser){%>
                  <form action ="/cart/<%= cartItem.productId.id %>/add-to-cart" method="post">
                      <input type="number" name="quantity"value = 0>
                    <button class="btn btn-danger"> delete</button>
  
                  </form>
                  <form action ="/cart/<%= cartItem.productId.id %>/add-to-cart" method="post">
                      <input type="number" name="quantity" value = <%=cartItem.quantity%>>
                    <button class="btn btn-danger"> add more</button>
  
                  </form>
                  <%}%>
                </p>
                <p> <%= cartItem.description %></p><!--work on this-->
                <p> <%= cartItem.price %></p><!--work on this-->
                <p> <%= cartItem.quantity %></p><!--work on this-->
                <p> <%= cartItem.ProductId%></p><!--work on this-->
        
                
              </div>
            </div> 
               <!-- end of first card -->
          </div>
          <!-- end of column  -->
        
      <%} );%>
      <p><%=cart.subTotal%></p>

      
    </div>
      
      <div class="container">
        <div class = "row p-3 pb-3">
          <div id = "checOutCont"class=" col-lg-8 col-xs-12 col-sm-12">
            <button id="CheckOut"class=" btn btn-danger">CheckOut</button>
          </div>
        </div>
      </div>
  </div>
  <!-- end of container -->
</div>

 
    <%- include ("../partials/footer.ejs")%>